@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
@-webkit-keyframes shake {
  10% {
    -webkit-transform: translate(0px, -5px) rotate(-5deg);
            transform: translate(0px, -5px) rotate(-5deg);
  }
  15% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(5px, -5px) rotate(5deg);
            transform: translate(5px, -5px) rotate(5deg);
  }
  45% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: translate(0px, -5px) rotate(-5deg);
            transform: translate(0px, -5px) rotate(-5deg);
  }
  75% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(5px, -5px) rotate(5deg);
            transform: translate(5px, -5px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes shake {
  10% {
    -webkit-transform: translate(0px, -5px) rotate(-5deg);
            transform: translate(0px, -5px) rotate(-5deg);
  }
  15% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(5px, -5px) rotate(5deg);
            transform: translate(5px, -5px) rotate(5deg);
  }
  45% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: translate(0px, -5px) rotate(-5deg);
            transform: translate(0px, -5px) rotate(-5deg);
  }
  75% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(5px, -5px) rotate(5deg);
            transform: translate(5px, -5px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}

#home_background {
  background-color: #d4a7de;
  height: 100vh;
  width: 100vw;
}

.home_button_align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  font-family: "Press Start 2P", cursive;
}

.line {
  border-width: 0.2rem;
  background-color: #202020;
}

.home_buttons {
  border: none;
  padding: 0.6rem 4rem;
  font-size: 1.4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: whitesmoke;
  background-color: #202020;
}

.home_buttons:hover {
  color: #d4a7de;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

#home_icon {
  position: absolute;
  right: 95%;
  bottom: 91%;
  font-size: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home_icon:hover {
  font-size: 3.2rem;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #d4a7de;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height: 400px;
  width: 240px;
}

.close {
  color: #202020;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.body {
  font-family: "Baloo Tammudu 2", cursive;
}
/*# sourceMappingURL=style.css.map */