@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;700;800&display=swap");
@-webkit-keyframes shake {
  10% {
    -webkit-transform: translate(0px, -5px) rotate(-5deg);
            transform: translate(0px, -5px) rotate(-5deg);
  }
  15% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(5px, -5px) rotate(5deg);
            transform: translate(5px, -5px) rotate(5deg);
  }
  45% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: translate(0px, -5px) rotate(-5deg);
            transform: translate(0px, -5px) rotate(-5deg);
  }
  75% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(5px, -5px) rotate(5deg);
            transform: translate(5px, -5px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes shake {
  10% {
    -webkit-transform: translate(0px, -5px) rotate(-5deg);
            transform: translate(0px, -5px) rotate(-5deg);
  }
  15% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: translate(5px, -5px) rotate(5deg);
            transform: translate(5px, -5px) rotate(5deg);
  }
  45% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: translate(0px, -5px) rotate(-5deg);
            transform: translate(0px, -5px) rotate(-5deg);
  }
  75% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: translate(5px, -5px) rotate(5deg);
            transform: translate(5px, -5px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}

#home_background {
  background-color: #d4a7de;
  height: 100vh;
  width: 100vw;
}

.home_button_align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  font-family: "Press Start 2P", cursive;
}

.line {
  border-width: 0.2rem;
  background-color: #202020;
}

.home_buttons {
  border: none;
  padding: 0.6rem 4rem;
  font-size: 1.4rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: whitesmoke;
  background-color: #202020;
}

.home_buttons:hover {
  color: #d4a7de;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

#home_icon {
  position: absolute;
  right: 95%;
  bottom: 91%;
  font-size: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home_icon:hover {
  font-size: 3.2rem;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #d4a7de;
  margin: 8% auto;
  /* 8% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height: 400px;
  width: 240px;
}

.close {
  color: #202020;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.5;
  }
  10% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
    opacity: 0;
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.5;
  }
  10% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
    opacity: 0;
  }
}

#mouseMove {
  z-index: 1;
}

#movingDots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  z-index: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

#movingDots li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: whitesmoke;
  opacity: 0;
  bottom: 1%;
  -webkit-animation: float infinite;
          animation: float infinite;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

#movingDots li:nth-child(1) {
  width: 3em;
  height: 3em;
  left: 12.5%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
}

#movingDots li:nth-child(2) {
  width: 2em;
  height: 2em;
  left: 25%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}

#movingDots li:nth-child(3) {
  width: 1em;
  height: 1em;
  left: 37.5%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

#movingDots li:nth-child(4) {
  width: 2em;
  height: 2em;
  left: 50%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#movingDots li:nth-child(5) {
  width: 1.9em;
  height: 1.9em;
  left: 62.5%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#movingDots li:nth-child(6) {
  width: 1.8em;
  height: 1.8em;
  left: 75%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#movingDots li:nth-child(7) {
  width: 1em;
  height: 1em;
  left: 87.5%;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

#top-line-trivia {
  margin-top: 9%;
}

.trivia-title {
  font-family: "Press Start 2P", cursive;
}

.question {
  font-weight: 700;
}

#trivia-button-div {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.body {
  font-family: "Baloo Tammudu 2", cursive;
}

i {
  color: #202020;
}

.card {
  background: #dcf6d6;
}
/*# sourceMappingURL=style.css.map */