#game_background { 
    background-color: $game_color;
    height: 100vh; 
    width:100vw;
} 

#game_box {  
    width:10rem;
    height:10rem; 
    background-color: #202020;
    z-index:123;  
    position:relative; 
    transition: 0.2s;
}

.game_buttons { 
    border:none;
    padding: 0.6rem 4rem; 
    font-size: 1.4rem; 
    transition: 0.5s;   
    color: whitesmoke;
    background-color: $font_color; 
    margin: 2rem;
  
  } 
  
  .game_buttons:hover { 
    color: $game_color; 
    font-size: 1.5rem; 
    border-radius: 0.5rem; 
    animation: shake 0.5s;
  }  